<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="text-center mt-5 mb-3">
                    <img src="../../assets/images/hcs_logo.png" height="250px" width="250px">
                </div>
                <div class="message mt-5">
                    <h4>ERROR 404</h4>
                    <h5>The page you are looking for was not found.</h5>
                    <a routerLink="/auth/login" class="btn btn-link">Back to Login Page</a>
                </div>
            </div>
        </div>
    </div>
</div>