<section class="mt-4 px-4">
    <h5 *ngIf="!pending_applications[0]">No Applications</h5>
    <table class="table table-bordered" datatable [dtOptions]="dtOptions" *ngIf="pending_applications[0]">
        <thead>
            <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Application ID</th>
                <th scope="col">Applicant Name</th>
                <th scope="col">Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of pending_applications; let i=index;">
                <td>{{ i+1 }}</td>
                <td>{{ p.application_id }}</td>
                <td>{{ p.applicant_name }} ({{ p.applicant_contact }})</td>
                <td class="text-center"><a (click)="onRouteDetails(p.application_id)" class="highlight">View</a></td>
            </tr>
        </tbody>
    </table>
</section>