<div class="title mt-4 text-center">
    <h1>Generate Cause List</h1>
</div>
<div class="form mt-4">
    <form #causeList="ngForm" (ngSubmit)="onCreateCauseList(causeList)">
        <div class="d-flex justify-content-center align-items-center">
            <div class="d-block">
                <label class="form-label text-center">Select Date</label>
                <input type="date" class="form-control" style="width:100%" name="date" ngModel #date="ngModel" required>
            </div>
        </div>
        <div class="input mt-4 px-5">
            <div class="row">
                <div class="col-md-1">
                    <label class="form-label">S.No.</label>
                    <input class="form-control" type="text" name="sno" ngModel #sno="ngModel" required>
                </div>
                <div class="col-md-2">
                    <label class="form-label">Select Case No</label>
                    <select class="form-select" name="cno" ngModel #cno="ngModel" required>
                        <option value="n" selected>---Select Case No---</option>
                        <option *ngFor="let c of cases" value="{{c.id}}">{{c.case_no}}</option>
                    </select>
                </div>
                <div class="col-md-7">
                    <label class="form-label">Display Name</label>
                    <input class="form-control" type="text" name="name" ngModel #name="ngModel">
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary w-100" style="margin-top: 31px;">+ Add</button>
                </div>
            </div>
        </div>
        <div class="px-5 mt-4" *ngIf="showSuccess">
            <div class="alert alert-success">
                Case Added Successfully !!
            </div>
        </div>
    </form>
    
</div>