<header class="mt-4">
    <form #search="ngForm" (ngSubmit)="getCaseDetails(search)">
        <div class="row d-flex justify-content-center">
            <div class="col-md-3 mb-3">
                <label class="form-label">Case Type</label>
                <select class="form-select" name="case_type" [ngModel]="selected_case_type" #case_type="ngModel" required>
                    <option disabled value="">---Select Case Type---</option>
                    <option *ngFor="let c of case_types" [value]="c.casetype">{{ c.case_type_name }}</option>
                </select>
                <small class="text-danger" *ngIf="case_type.touched && case_type.invalid">Please select a case type</small>
            </div>
            <div class="col-md-2 mb-3">
                <label class="form-label">Case Number</label>
                <input type="text" required minLength="1" maxLength="3" pattern="\d{1,3}" ngModel name="case_no" class="form-control" #case_no="ngModel">
                <small class="text-danger" *ngIf="case_no.touched && case_no.invalid">Please enter a case number</small>
            </div>
            <div class="col-md-2 mb-3">
                <label class="form-label">Year</label>
                <select class="form-select" name="case_year" [ngModel]="selected_case_year" #case_year="ngModel" required>
                    <option *ngFor="let y of years" [value]="y">{{ y }}</option>
                </select>
            </div>
            <div class="col-md-1 mb-3 text-center">
                <button class="btn btn-primary" style="margin-top:31px;">Search</button>
            </div>
        </div>
    </form>
</header>
<div class="d-flex justify-content-center align-items-center mt-4" *ngIf="showDetails === 'false'">
    <div class="alert alert-danger w-50">
        Case Not Found
    </div>
</div>
<app-page-calculator-loader *ngIf="showLoader || order_calculation === 'true' || judgment_calculation === 'true'"></app-page-calculator-loader>
<section class="mt-4" *ngIf="!showLoader && (order_calculation === 'false' && judgment_calculation === 'false')">
    <div class="card w-100" style="border:none;" *ngIf="showDetails === 'true'">
        <div class="card-header text-center" style="background-color: #8fc2e9; color: #ffffff; border-bottom: 0"><h5>Case Details ( <span class="status" style="font-size: 1.3rem">{{ details.status }}</span> )</h5></div>
        <div class="card-body">
            <main class="case-details">
                <div class="row mb-2">
                    <div class="col-xl-2 mb-2">
                        <label class="header form-label">CNR Number</label><br>
                        <span id="cnr_number">{{ details.filing_no }}</span>
                    </div>
                    <div class="col-xl-2 mb-2">
                        <label class="header form-label">Case Number</label><br>
                        <span id="case_number">{{ details.finalcaseno }}</span>
                    </div>
                    <div class="col-xl-3 mb-2">
                        <label class="header form-label">Petitioner's Name</label><br>
                        <span id="petitioners_name">{{ details.pet_name }}</span>
                    </div>
                    <div class="col-md-3 mb-2">
                        <label class="header form-label">Respondent's Name</label><br>
                        <span id="respondents_name">{{ details.res_name }}</span>
                    </div>
                    <div class="col-md-2 mb-2">
                        <label class="header form-label">Registration Date</label><br>
                        <span id="registration_date">{{ details.regis_date }}</span>
                    </div>
                </div>
            </main>
            <div class="orders mt-3">
                <h5>Order(s)</h5>
                <hr>
                <h6 *ngIf="!orders[0]">No Orders Found</h6>
                <table class="table table-bordered" *ngIf="orders[0]">
                    <thead>
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Order Number</th>
                            <th scope="col">Bench</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Pages</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let o of orders">
                            <td class="text-center"><input type="checkbox" (click)="onSelectEvent($event, o.order_dt, o.order_no, o.judgename, o.orderpdf, o.pages)"></td>
                            <td>{{ o.order_no }}</td>
                            <td>{{ o.judgename }}</td>
                            <td>{{ o.order_dt }}</td>
                            <td>{{ o.pages }}</td>
                            <td><a href="https://hcs.gov.in/hcs/hg_orders/{{o.orderpdf}}" target="_blank"><button class="btn btn-primary">View</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="judgements mt-3 mb-2">
                <h5>Judgement(s)</h5>
                <hr>
                <h6 *ngIf="!judgements[0]">No Judgements Found</h6>
                <table class="table table-bordered" *ngIf="judgements[0]">
                    <thead>
                        <tr>
                            <th scope="col">Select</th>
                            <th scope="col">Bench</th>
                            <th scope="col">Judgement Date</th>
                            <th scope="col">Pages</th>
                            <th scope="col">View</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let j of judgements">
                            <td class="text-center"><input type="checkbox" (click)="onSelectEvent($event, j.judgement_dt, '0', j.judgename, j.filename, j.pages)"></td>
                            <td>{{ j.judgename }}</td>
                            <td>{{ j.judgement_dt }}</td>
                            <td>{{ j.pages }}</td>
                            <td><a href="https://hcs.gov.in/hcs/hg_orders/{{j.filename}}" target="_blank"><button class="btn btn-primary">View</button></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <small style="font-size: 1rem;" class="mt-2"><b>For delivery through postal/courier service, contact <i class="bi bi-telephone" style="font-size: 0.9rem;">&nbsp;03592-207252, 9775969576</i>&nbsp;<span style="font-size: 0.9rem;">Deputy Registrar (Judicial)</span></b></small>
        <div class="mb-2 text-end">
            <button class="btn btn-primary mx-3" (click)="onRouteNextPage()">Next</button>
        </div>
    </div>
</section>